
.topNav {
  color:black;
  background: white;
  margin-left: 50px;
  margin-right: 50px;
}

#SamText {
  display: inline-block;
  margin-left: 150px;
  padding: 15px;
  background-color:#4aaaa5;
  color: white;
  overflow: hidden;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

#menuOptions {
  float: right;
  margin-right: 150px;
  padding: 15px;
  color: turquoise;
  overflow: hidden;
  text-decoration: none;
  vertical-align: middle;
  font-size: 18px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  display: inline;
  overflow: auto;
}

#SamHeadshot {
  height: 10px;
  width: 10px;
  margin: 10px;
}

body {
  background-color: #dddddd;
}

.Content {
  width: 960px;
  background-color: white;
  clear: both;
  box-align: center;
}

.Footer {
  background-color: #666666;
  color: white;
  text-align: center;
  height: 50px;
  border-color: #4aaaa5;
}
