body {
  background-color: #dddddd;
}

h1 {
  margin-left: 150px;
  padding: 15px;
  background-color:#4aaaa5;
  color: white;
  overflow: hidden;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  float: left;
  clear: both;
}

h2 {
  font-size: 28px;
  color: #4aaaa5;
  padding: 15px;
}

p {
  display: block;
  font-size: 16px;
  color: #777777;
  padding-left: 20px;
  padding-right: 20px;
}

hr {
  background-color: #4aaaa5;
  margin: 15px;
}


#Headshot {
  height: 250px;
  border-color: black;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  clear: both;
}

.topNav {
  background-color: #ffffff;
  clear: both;
  height: 70px;
}


.Footer {
  background-color: #666666;
  color: white;
  text-align: center;
  height: 50px;
  border-color: #4aaaa5;
}

.formSection {
  display: inline-block;
  font-size: 16px;
  color: #777777;
  padding-left: 20px;
  padding-right: 20px; 
  width: 100%;

}

.gallery {
  display: inline-block;
  clear: both;
  content: "";
}

#menuOptions {
  float: right;
  margin-right: 200px;
  padding: 15px;
  color: white;
  overflow: hidden;
  text-decoration: none;
  vertical-align: middle;
  font-size: 18px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

#footerText {
  color: white;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.MainContent {
  width: 960px;
  height: 560px;
  margin-left:150px;
  padding: 15px;
  background-color: white;
  border-color: #dddddd;
  clear: both;
  display: inline-block;
}